
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


*{
    margin:0;
    padding:0;
}



/* shared styles */

.display-flex{
    display:flex;
}

.section-title{
    font-size:3.125rem;
    font-weight:700;
}

.section-span{
    color:#E95A08;
}

.para-description{
    color:rgba(0, 0, 0, 0.5);
    font-size:1.375rem;
}

.section-para{
    max-width:888px;
    margin:auto;
}



/* header section start  */


nav{
    max-width:1140px;
    margin:0 auto;
    justify-content:space-between;
    align-items:center;
    padding-top:30px;
}

#nav-home{
    font-weight:700;
    color:#252432;
}

#nav-shop, #nav-about{
    color:#8987A1;
}

#nav-cart-link{
    color:black;
}


nav > ul{
    align-items:center;
}


nav > ul > li{
    list-style:none;
    margin-left:48px;
}


nav > ul > li >a{
    text-decoration:none;

}


/* banner section start  */

.banner-container{
    max-width:1140px;
    margin:120px auto;
    align-items: end;

}


.banner-title{
    font-size:4.063rem;
    font-weight:700;
}

.banner-title-span{
    color:#E95A08;
}

.banner-description{
    margin-top:13px;
}

/* header section end  */

/* main styles start  */


/* plant-section start  */
    .plant-sec{
        max-width:1140px;
        margin:0 auto;
    }


    .section-title-parent{
        text-align:Center;
    }

   

    #plant-para{
        margin:16px auto 49px auto;
    }

    /* plant container start  */

    .plant-container{
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        gap:30px 20px;
        box-sizing: border-box;

    }

    .plant-card{
        text-align:Center;

    }


    .plant-title{
        margin:20px 0px 10px 0px;
    }

    .plant-title, .usd-title{
        color:#111111;
        font-size:1.375rem;
        font-weight:400;
    }

    .usd-title{
        font-weight:700;
    }

    .btn-primary{
        width:100%;
        font-weight:500;
        color:white;
        font-size:1rem;
        padding:19px;
        border:none;
        background-color:#E95A08;
        margin-top:30px;
    }



/* plant-section end  */


/* plant lover sec satrt  */


.plant-lover-container{
    max-width:1140px;
    margin:0 auto;
    gap:60px;
    align-items:center;
    position:relative;

    margin-top:175px;
}

.plant-lover-img{
    max-width:280px;
    position:absolute;
    top:-90px;
    left:364px;
}

.plant-lover-img img{
    width:100%;
}


.plant-lover-box{
    max-width:540px;
}

.plant-lover-box > ul {
    padding-left:36px;

}

.plant-lover-box > ul > li{
    margin:20px 0px;
}

/* plant lover sec end  */


















/* main styles end  */


/* media query start  */
/* responsive start  */

@media screen and (max-width:403px){

    nav{
       width:90%;
       align-items:end;
    }
  
    nav .logo-image{
        max-width:63px;
    }
        

    nav > ul > li{
        margin-left:0px;
    }


    nav #nav-home, #nav-shop, #nav-about{
        display:none;
    }


    #nav-cart-link{
        font-size: 0.81rem;
    }

    /* banner responsive  */

    .banner-container{
        flex-direction:column-reverse;
        margin:28px auto 65px auto;
    }
    
    
    .banner-title{
        font-size:1.5rem;
    }

    .banner-image{
        width:100%;
    }

    .para-description{
    font-size:0.875rem;
}

.banner-child{
    width:90%;
    margin:28px auto 0px auto;
}


/* main sec reponsive  */
    .plant-sec{
        width:90%;
        margin:0 auto;
    }

    .section-title{
        font-size:1.5rem;
    }

    .para-description{
        font-size:0.875rem;
    }

    .section-para{
        width:92.6%;
    }


    .plant-container{
        grid-template-columns:repeat(2, 1fr);
    }
    
    .plant-card img{
        width:100%;
    }

    .plant-title{
        font-size:1rem;
        font-weight:500;
        
    }

    .usd-title{
        font-size:1rem;
    }

    .btn-primary{
        font-weight:600;
        font-size:0.6rem;
        padding:10px 0px;
        
    }

    /* plant lover responsive  */


    
    .plant-lover-img{
        display: none;
    }

    .plant-lover-container{
        flex-direction:column;
        width:90%;
        margin-top:41px;
        gap:18px;
    }

    .plant-lover-image {
        max-width:358PX;
    }
    
    .plant-lover-image img{
        width:100%;
    }

    

    .plant-lover-box > ul{
        padding-left:25px;
    }

}



@media screen and   (min-width:403px) and (max-width:576px){

  
     nav{
       width:90%;
       align-items:end;

    }
  
    nav .logo-image{
        max-width:70px;
    }

        nav > ul > li{
        margin-left:0px;
    }


    nav #nav-home, #nav-shop, #nav-about{
        display:none;
    }


      #nav-cart-link{
        font-size:0.81rem;
    }

    nav i{
        font-size:1.1rem;
    }

        /* banner responsive  */

    .banner-container{
        flex-direction:column-reverse;
        margin:28px auto 65px auto;

    }
    
    
    .banner-title{
        font-size:1.5rem;
    }

    .banner-image{
        margin-top:28px;
        width:100%;
    }

    .para-description{
    font-size:0.875rem;
}

.banner-child{
    width:90%;
    margin:28px auto 0px auto;
}


/* main sec reponsive  */
    .plant-sec{
        width:90%;
        margin:0 auto;
    }

    .section-title{
        font-size:1.5rem;
    }

    .para-description{
        font-size:0.875rem;
    }

    .section-para{
        width:92.6%;
    }


    .plant-container{
        grid-template-columns:repeat(2, 1fr);
    }
    
    .plant-card img{
        width:100%;
    }

    .plant-title{
        font-size:1rem;
        font-weight:500;
        
    }

    .usd-title{
        font-size:1rem;
    }

    .btn-primary{
        font-weight:600;
        font-size:0.6rem;
        padding:10px 0px;
        
    }


    
    /* plant lover responsive  */


    
    .plant-lover-img{
        display: none;
    }

    .plant-lover-container{
        flex-direction:column;
        width:90%;
        margin-top:41px;
        gap:18px;
    }

    .plant-lover-image {
        max-width:558PX;
    }
    
    .plant-lover-image img{
        width:100%;
    }

    

    .plant-lover-box > ul{
        padding-left:25px;
    }


    
} 






























































































































